/* Global */

*{box-sizing: border-box;}

body{
    margin: 0; 
     font-family: sans-serif;
}
    
a{
    text-decoration: none;
    color: darkened;
}


/* Header*/
header {
    background: black;
    color: white;
    padding: 1em 2em;
}

header a {
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Site ID */
.site-id h1{
    margin:0;
}

/* Site Nav */
nav ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
    padding-top: .6em;
}

nav li{
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
}

/* Footer*/
footer {
    boarder-top: 1px solid #ddd;
    max-width: 100px;
    margin: 0 auto;
}
footer nav ul{
    justify-content: center;
}


/* Sections*/
main{
    padding: 3em 1em;
}
