/* Global */

*{box-sizing: border-box;}

body{
    margin: 0; 
     font-family: sans-serif;
}
    
a{
    text-decoration: none;
    color: darkened;
}


/* Header*/
header {
    background: black;
    color: white;
    padding: 1em 2em;
}

header a {
    color: white;
}

header {
    display: grid;
    grid-template-colums: 1fr 1fr;
    align-items: center;



